.DS_Store
mruby
libtrusterd.dylib
libtrusterd.so
*.dSYM
node_modules
ssl/cert.csr
ssl/cert.pem
ssl/key.pem
examples/ssl
examples/htdocs
examples/trusterdGo
examples/a.out
*.cmi
*.cmx
*.o
*~
examples/trusterdML
examples/mrubyML
a.out
foo.txt
checkFile.c
watchFileLinux.c
libtrusterd.pid
common.c
Cargo.lock
examples/trusterd_rs/target/*
